[Unit]
Description=fasttunnel
[Service]
Type=simple
#path where fasttunnel.server.dll
WorkingDirectory=/root/fasttunnel/
#Restart=on-failure
#RestartSec=10
ExecStart=/usr/share/dotnet/dotnet FastTunnel.Server.dll
ExecReload=/usr/share/dotnet/dotnet FastTunnel.Server.dll
[Install]
WantedBy=multi-user.target