bin
obj
.vs
/FastTunnel.Client/*.user
/FastTunnel.Server/*.user
/FastTunnel.Client/Properties/PublishProfiles/*.user
/FastTunnel.Server/Properties/PublishProfiles/*.user
/FastTunnel.Client/Properties/PublishProfiles/*.pubxml
