bin
obj
.vs
/FastTunnel.Client/*.user
/FastTunnel.Server/*.user
/FastTunnel.Client/Properties/PublishProfiles/*.user
/FastTunnel.Server/Properties/PublishProfiles/*.user
/FastTunnel.Client/Properties/PublishProfiles/*.pubxml
publish
/SuiDao.Client/Properties/PublishProfiles/*.user
/SuiDao.Client/*.user
/SuiDao.Client/Properties/PublishProfiles/FolderProfile.pubxml
/FastTunnel.Core/*.user
/build
/FastTunnel.Server/.config
/FastTunnel.Server/logs
