<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            autoReload="true"
      internalLogLevel="Info">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target xsi:type="File" name="file"
        layout="${longdate} ${logger} ${message}${exception:format=ToString}"
        fileName="${basedir}/Logs/${shortdate}.${level}.log" />

    <target xsi:type="Console" name="console"
    layout="${date}|${level:uppercase=true}|${message} ${exception}" />
    <!--layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />-->
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file,console" />
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
  </rules>
</nlog>